.background {
	/* background: #4a4948; */
	background: #318CE7;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.center {
	background: white;
	border-radius: 5px;
	height: auto;
	width: 30%;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	padding: 10px;
}



.input {
	border: 2px solid #318CE7;
	border-radius: 5px;
	margin: 10px;
	height: 30px;
	width: 75%;
}

.input:focus {
	outline: none !important;
	border: 2px solid #318CE7;
}

.button {
	background: #318CE7;
	border: 0;
	height: 30px;
	width: 50px;
	border-radius: 5px;
	color: white;
	margin: 10px;
	padding: 5px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	align-items: center;
	margin: 20px 10px 5px 10px;
}

.child {
	background: #ADD8E6;
	color: grey;
	border-radius: 5px;
	flex: 1;
	flex-basis: 51%;
}

p {
	margin: 0 0 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

span>button {
	background: #0039a6;
	color: white;
	border: none;
	border-radius: 5px;
	margin: 5px;
	height: 30px;
}

span>div>button {
	background: #0039a6;
	color: white;
	border: none;
	border-radius: 5px;
	margin: 5px;
	height: 30px;
}

span>input {
	background: inherit;
	color: inherit;
	border: 0;
	font-size: inherit;
}

span>div>input {
	background: inherit;
	color: inherit;
	border: 1px solid;
	border-radius: 5px;
	border-color: #0039a6;
	font-size: inherit;
}